    @charset "utf-8";
    /* CSS Document */
    
    @import url('https://fonts.googleapis.com/css?family=Righteous&display=swap');
    /* -----------------all----------       */
    
    * {
        box-sizing: border-box;
    }
    
    body {
        font-family: 'Noto Sans TC', sans-serif;
    }
    
    .show-mobile {
        display: none!important;
    }
    
    .container {
        max-width: 1080px;
        margin: 0 auto;
    }
    
    ul {
        padding: 0;
        margin: 0;
    }
    
    ul li {
        list-style: none;
    }
    
    a,
    a:link,
    a:hover {
        text-decoration: none;
        color: #f1eff0;
    }
    /* -----------------body------------------*/